[2016-02-15 06:55] rompic opened #1 "join effort with hubot-mattermost"
please team up with https://github.com/renanvicente/hubot-mattermost

[2016-02-15 09:54] loafoe commented on #1
@rompic the hubot-mattermost uses Webhooks which is fundamentally different from how this adapter works. I'm fine with merging the projects though. It would actually be really interesting to find out the roadmap for proper Bot users in MatterMost server.

[2016-02-15 15:49] cacack commented on #1
+1 for both teaming and understanding proper bot users in mattermost.  I started with hubot-mattermost, but would like to be able to interact with the bot using mentions.  Looks like yours would fit that bill.

[2016-02-15 17:50] loafoe commented on #1
@cacack yep, that was exactly my motivation to go the Web API + websocket route.

[2016-02-18 16:36] thanosk commented on #1
@loafoe thanks for this project, I too was using hubot-mattermost and looking for a way to interact privately with the bot (which is now possible). I did open a new suggestion in [mattermost's feature idea forum](http://mattermost.uservoice.com/forums/306457-general/suggestions/12280503-bot-users) referencing proper Bot users like [Slack does](https://api.slack.com/bot-users).

[2016-03-02 09:18] karlbateman commented on #1
@loafoe This is awesome, so much easier to get up and running. Interaction is similar to other systems and its great for testing Hubot via direct message. Thanks for this, good job :+1:

[2016-03-26 19:18] #1 closed

[2016-05-16 16:19] mxiamxia opened #3 "Support MatterMost 3.0"
Could you please help to upgrade it to support Mattermost 3.0? The current one only work for Mattermost 2.x

[2016-05-17 10:36] loafoe commented on #3
Hi @mxiamxia , there is already preliminary support for Mattermost 3.0 in the `v3` branch. I will create a release shortly

[2016-05-17 15:56] loafoe commented on #3
Version 3.0.0 was just released which adds Mattermost 3.x support. Be sure to modify your existing Hubot `package.json` in case of an existing bot!

[2016-05-17 15:56] #3 closed

[2016-05-17 18:31] marcesher opened #4 "Is it possible to send direct messages to users?"
Greetings,

Thanks a lot for this adapter!

I'm trying to send direct messages from our hubot to users, based on user id. However, I can't get it working.

I've tried robot.messageRoom(user_id, "message"), since it looks like that'll set envelope.room to the user's ID, but that doesn't work and I'm not sure it even would.

Any ideas?

thanks!

[2016-05-17 18:52] loafoe commented on #4
@marcesher a DM between two users actually happens in a unique channel which have sender/receiver as the only members (AFAIK).  So instead of the user id you would need to use the room ID of this DM channel. However there does not seem to be a way to look up this DM room ID as of now.
But very interesting idea! I'll dig in a bit to find out more. If it's not available it could even be a nice featu

[2016-05-18 00:02] marcesher commented on #4
hey @loafoe thanks a lot for the response so quickly!

I confirmed the behavior you describe and was able to send a DM if I hard-coded the channel for an existing conversation between a bot and a human. That's progress, insofar as it demonstrates feasibility.

Let me ask you this: I was poking around in your mattermost-client, and it looks like matteruser delegates most functionality to that, whic

[2016-05-18 00:04] marcesher commented on #4
Oh, and re: `I realize it'd involve working with the MM folks to actually expose that API, and that'd take some time` I don't mean to suggest at all that you'd do that. I don't mean to equate any of this to more work on your part. I'm just looking for conceptual direction or advice, if you have it.

[2016-05-18 00:37] loafoe commented on #4
@marcesher appreciate your thanks! :-)

So thinking about this one possible solution might be to have sort of a **one time** activation of a user to the bot i.e. the user would need to send at least one DM to your bot. The bot would then immediately capture and store the DM room ID for that user in some way so it can use it for future **bot initiated** DM communication back to the user! It might w

[2016-05-25 02:32] loafoe commented on #4
@contolini accepted the challenge and implemented bot initiated DMs! /cc @marcesher

[2016-05-25 12:12] Judokus commented on #4
The functions getUserDirectMessageChannel and channelInfo don't call the correct API: api/v3/channels/channel_id instead of api/v3/teams/team_id/channels/channel_id ?

[2016-05-25 14:23] contolini commented on #4
@Judokus Sounds like this needs more testing. I admittedly only have access to v1 of the API at the moment.

api/v3/channels/channel_id instead of api/v3/teams/team_id/channels/channel_id ?

In [client.coffee](https://github.com/loafoe/mattermost-client/blob/master/src/client.coffee#L232)

```@_apiCall 'POST', '/channels/create_direct', postData, (data, headers) =>```

is likely incorrect and shou

[2016-05-25 14:56] Judokus commented on #4
Yep, it works with that change (or `@channelRoute('/create_direct')`)

About the logic, I actually tried it a bit different to find the DM channel in v1. Mattermost saves the DM channel names as userID__userID so I did:

- find the channel with name `botID__userID` in @channel_details
- if it doesn't exist, try it the other way around `userID__botID`
- else just create the channel with /create_dir

[2016-05-25 15:02] contolini commented on #4
Nice!

Ah, very clever. Does that technique work with v3?

[2016-05-25 15:12] Judokus commented on #4
Yes. Just tested this with the following:

[code]

[code]

[2016-05-30 22:55] loafoe commented on #4
Fixed and tested in `3.1.0`

[2016-05-30 22:55] #4 closed

[2016-05-31 13:24] alexiri opened #6 "Channel name instead of ID?"
Is it possible to get the channel name instead of the channel id? The id isn't very useful...

[2016-07-01 14:28] Judokus commented on #6
Method `findChannelByName` is in the mattermost-client. It returns the channel object. See [here](https://github.com/loafoe/mattermost-client/blob/master/src/client.coffee#L264)

[2016-07-01 14:35] alexiri commented on #6
That function does the exact opposite of what would be needed. You could have pointed to `getChannelByID`, which is closer to my question.

Regardless, I realize now that my question was badly explained. When other hubot plugins (such as hubot-seen, for example) get the channel information, they get the channel id. They then print this information to the user, which is pretty useless:

`

hubot: a

[2016-08-12 18:16] george-silva opened #7 "Can't login"
Hi!

I'm trying to configure the bot.

Here's the things I've already done:

1. Matter is running on a self-signed certificate;
1. hubot is running locally for tests (plan to deploy using heroku);
1. I can run bin/hubot without any adapter;
1. matter is bundled with gitlab;
1. I can login with the specific user that I created for the bot in matter. It's configured to sign in using email and passwo

[2016-08-12 18:35] george-silva commented on #7
Just saw the problem. You have to configure matter to use insecure connections for self-signed certificates AND configure the bot to not verify.

Found out by checking the releases notes.

[2016-08-12 18:35] #7 closed

[2016-08-15 07:51] contolini opened #8 "Caret range specifier breaks legacy clients"
Hi @loafoe!

After trying to figure out why our bot was mysteriously crashing, I noticed [`v3.1.1` of this plugin](https://github.com/loafoe/hubot-matteruser/blob/v3.1.1/package.json#L31) lists version `^3.1.1` of mattermost-client as a dependency. Now that version 3.3.x of mattermost-client has been released, hubot-matteruser is pulling it in, causing it to fail because there are backwards-incomp

[2016-08-18 05:04] #8 closed

[2016-08-18 05:05] loafoe commented on #8
Thx @contolini! fixed in `3.3.1`

[2016-08-19 02:22] taturou opened #9 "Clerk mistake in README"
In README.
MATTREMOST_USE_TLS  is written as MATTEMOST_USE_TLS (There is not 'R').

[2016-08-19 02:27] taturou opened #10 "Does MATTERMOST_WSS_PORT not function?"
When the port number of the server is not 443, the adapter is not connected even if MATTERMOST_WSS_PORT is set.
I tried it with 8443 and 8065.

Thank you for awesome product!

[2016-08-19 07:24] loafoe commented on #9
Fixed!

[2016-08-19 07:24] #9 closed

[2016-08-19 07:28] loafoe commented on #10
@taturou did you try it with the latest 3.3.1 release? The `master` branch contained a bug which also used the WSS port override for the *https* connection, that has been fixed recently.
Please let me know if it works for you. Do note that *MATTERMOST_WSS_PORT* is explicitly for the WebSocket connection only.

[2016-08-23 02:14] funzie19 opened #11 "Doesn't work"
I have been trying to get this up an running for the past three days now. I have tried both Mattermost 3.3 and 3.2. I am able to get the bot logged into the rooms as seen with the green icons over the username, however none of the actions work. For example if I run it with the shell adapter it works perfectly. But using the matteruser adapter does not. It looks like the bot just sits there in the

[2016-08-23 15:11] loafoe commented on #11
@funzie19 the only odd think I can spot in your log is the following:

`ws://mattermost.kregloh.com:443/api/v3/users/websocket`

port `443` would suggest a secure websocket  connection. Can you doublecheck this is OK? The symptoms you describe are in line with a broken websocket connection. Can you log in OK with the bot user from a web browser?

[2016-08-23 15:36] campbellr commented on #11
I actually ran into what appears to be the same problem after upgrading to Mattermost 3.3 and hubot-matteruser 3.3.1

Everything was working perfectly before with the combination of Mattermost 3.0 and hubot-matteruser 3.1.1

[2016-08-24 00:32] funzie19 commented on #11
I've tried with both port 443 and 80 for the web socket. The installation that returns this error does not have a certificate therefore everything is over port 80. I suspect the error may lie with:

[Mon Aug 22 2016 22:08:10 GMT-0400 (EDT)] INFO Error: Error: connect ENOENT

When I try with an installation that has a valid SSL certificate it successfully connects and does a ping, but after x amoun

[2016-08-24 05:22] loafoe commented on #11
I just pushed a fix for loafoe/mattermost-client#19. Are you able to test it with this fix? If it works can you also please post the logs? It looks like the server is returning some data over the websocket which I'm not handling yet.

[2016-08-24 05:23] loafoe commented on #11
@campbellr are you able to share some debug log output for the MM 3.3 / HM 3.3.1 setup?

[2016-08-25 00:25] funzie19 commented on #11
@loafoe Pretty much the same error as before

[Wed Aug 24 2016 20:13:43 GMT-0400 (EDT)] ERROR TypeError: Cannot read property 'text' of undefined
  at Client.onMessage (/home/joseph/vina3/node_modules/mattermost-client/src/client.coffee:224:20, <js>:295:28)
  at WebSocket.<anonymous> (/home/joseph/vina3/node_modules/mattermost-client/src/client.coffee:159:13, <js>:218:22)
  at WebSocket.emit (even

[2016-08-25 01:26] loafoe commented on #11
@funzie19 that's weird, can you please paste the code on this line:

/home/joseph/vina3/node_modules/mattermost-client/src/client.coffee:224

[2016-08-25 02:19] campbellr commented on #11
I think my 'me too' might have been a false alarm. It turned out that `hubot help` (my "go to" test command) stopped working (not sure why yet), but everything else seems to work. So probably not the same issue, sorry. I'll let myself out...

[2016-08-25 17:14] funzie19 commented on #11
Not sure why it didn't grab the code changes when I re-did the bot after your commit. But I manually added the change to the script, here is the output:

[Thu Aug 25 2016 13:00:50 GMT-0400 (EDT)] DEBUG Found 4 channels.
[Thu Aug 25 2016 13:00:53 GMT-0400 (EDT)] DEBUG Received unhandled message type: undefined
[Thu Aug 25 2016 13:00:53 GMT-0400 (EDT)] DEBUG { team_id: 'raho6b1xojb6pkm87od8ssamdr',

[2016-08-25 17:48] loafoe commented on #11
@funzie19 Ah, it seems the above log capture was done with Mattermost 3.2.0 or earlier?
Can you confirm? If so, can you upgrade the server to 3.3 and try again?

[2016-08-26 17:17] vrenjith opened #12 "Not clear how to use this"
Hi,

I setup the bot as per the instructions and the logs say that everything looks okay. And at regular intervals I see the following messages also
[code]

Now, I am unable to figure out how to use the bot and what triggers any actions. Nothing happen when I DM the bot or if I do an @ mention of the bot in a channel.

Any hints of how to actually make the bot useful?

[2016-08-29 02:01] jokefaker commented on #11
Same issue at first floor.
MM: version 3.3, run in a docker
MU version: 3.3.1, run locally

export MATTERMOST_HOST=localhost
export MATTERMOST_GROUP=group
export MATTERMOST_USER=account
export MATTERMOST_PASSWORD=psw
export MATTERMOST_TLS_VERIFY=false
export MATTERMOST_USE_TLS=false
export MATTERMOST_LOG_LEVEL=debug

MU error log:
[Mon Aug 29 2016 09:51:39 GMT+0800 (CST)] INFO Logging in...
[Mon A

[2016-08-29 02:38] funzie19 commented on #11
@loafoe I updated the version of Mattermost and it works great now. However that is for an SSL install. If I try a non-ssl install I still get `INFO Error: Error: read ECONNRESET` like @jokefaker is also describing.

[2016-09-02 10:01] Vhex commented on #10
On the latest 3.3.1 release I have what I think is the same issue.  My https connections are on port 8444 (proxied to mattermost) so the initial connection won't go through.

If I specify the mattermost host as mydomain.example.com:8444 then the initial connection goes through, but websockets tries wss://mydomain.example.com:8444:443/api/v3/users/websocket

Setting that string to empty still tries

[2016-09-02 12:14] maruTA-bis5 commented on #11
I use nodejs v0.10.46 on CentOS6 and get `INFO Error: Error: read ENOENT`.
nodejs v0.10.16 installed from EPEL.

I re-installed nodejs using [this instruction](https://nodejs.org/en/download/package-manager/#enterprise-linux-and-fedora) and works fine for non-ssl Mattermost install.

[2016-09-03 23:57] wargamesqcf commented on #12
I have a completly differant question is much the same, I am using the docker-compose from mattermost to start and run my chat server how do I add hubot to this?

https://github.com/mattermost/mattermost-docker/blob/master/docker-compose.yml

[2016-09-07 08:10] loafoe commented on #10
@taturou please try with latest `master`. @Vhex added ability to make the http port configurable.

[2016-09-13 09:09] albertgu2016 opened #14 "I can't login hubot bot to mattermost"
MM:3.3.0
HM:3.3.1
MM: Enabled Insecure Outgoing Connections

Login failed issue.  I can login mattermost with hubot bot directly.

Why?

[2016-09-16 09:02] mberthelier opened #15 "Not possible to use several groups/teams?"
Hi,

Would it be possible to make a multi-instance script, where groups could be separated by a coma for instance?

Currently, we can have only 1 group/team per hubot instance. We use different teams in our organization and we would like to be able to have hubot user for all groups (even if we have to change variable each time).

[2016-09-16 11:50] loafoe commented on #15
@mberthelier I would need to investigate. I can imagine that there is a lot of code in hubot that assumes there is only one single user list so supporting several groups/teams would have to be done as transparantly as possible. Most likely  at the mattermost-client level even. In any case I think it probably requires quite a bit of refactoring. Not something I will pick up soon I'm afraid, but wil

[2016-09-16 11:50] loafoe commented on #14
@albertgu2016 Can you paste some of the debugging output? It could be that there is an issue with the Websocket connection

[2016-09-19 09:37] ThetaGamma opened #16 "Question/Suggestion: why mattermost-client, not Mattermosts own Javascript Driver?"
Dear Loafoe
Dear all

As far as I understood, we need _mattermost-client_ as an MM-API-Implementation for this hubot plugin. So we're limited to those calls implemented in mattermost-client, right? Wouldn't it make sense to use the original mattermost Javascript Driver found [here](https://github.com/mattermost/mattermost-driver-javascript)? As far as I understood, all necessesary API calls are im

[2016-09-20 09:35] loafoe commented on #16
Hi @ThetaGamma,

At the time of creating the adapter the Javascript driver was not available as a separate package. Will definitely check it out soon though! Thx! Pull requests accepted too! :-)

[2016-09-20 09:37] #10 closed

[2016-09-20 10:58] ThetaGamma commented on #16
Hi

Unfortunately I'm not a good coder and the documentation of the JS-Driver is almost not existent.

Some small steps: I forked matteruser und had some success in adding the driver and managed to implement at least the login-procedure. I hope this could be the starting point for someone more knowledgable to coffee-/javascript ;-)

Cheers
TG

[2016-09-26 10:01] ABitMoreDepth commented on #14
I'm hitting this issue as well, with hubot and mattermost deployed via docker (though the appropriate mattermost ports are bound to localhost).

Mattermost v3.4.0
Hubot-MatterUser v3.3.1

I can login with the hubot user manually, but the debug log from hubot is a little unhelpful:
[code]

[2016-09-26 10:16] ABitMoreDepth commented on #14
Some further debugging looks like Mattermost 3.4 uses a different API end point?
send a manual post request to /api/v3/users/login gets me further, but I hit a 400 about the password being left blank.

Should I raise a separate issue for this [here](https://github.com/loafoe/mattermost-client)?

[2016-10-14 17:18] downright770 opened #19 "Matteruser fails to log in"
I'm a bit new to linux and using hubot.
I'm currently trying to get up and running hubot with matteruser adapter and I'm not sure if I'm way off with trying to configure it to work.

On a virtual machine
I've setup a user and password for the robot in Mattermost
Then I've created shell script.
# !/bin/sh

export MATTERMOST_HOST=http/127.0.0.1:8065
export MATTERMOST_GROUP=internal
export MATTERMOST

[2016-10-14 20:46] mgrodrigues commented on #19
Hi downright770,

I'm new to hubot too and i make it work yesterday.
I guess you are missing some variables.

# Assuming your mattermost is accessible on port 8065
MATTERMOST_WSS_PORT=8065
# Should be the same as MATTERMOST_WSS_PORT
MATTERMOST_HTTP_PORT=8065
# if you are not using SSL certificates you must set the following 2 variables to false (default is true)
MATTERMOST_TLS_VERIFY=false
MATTERM

[2016-10-14 21:53] downright770 commented on #19
Tied that log file showing
[Fri Oct 14 2016 14:50:09 GMT-0700 (PDT)] INFO Logging in...
[Fri Oct 14 2016 14:50:09 GMT-0700 (PDT)] DEBUG POST /users/login
[Fri Oct 14 2016 14:50:09 GMT-0700 (PDT)] ERROR Login call failed
[Fri Oct 14 2016 14:50:09 GMT-0700 (PDT)] INFO Reconnecting in 1000ms

[2016-10-14 22:04] mgrodrigues commented on #19
You have a typo in MATTERMOST_HOST value.
It should be :
http://127.0.0.1:8065

[2016-10-14 22:18] downright770 commented on #19
yeah changed that here is the file

#!/bin/sh

export MATTERMOST_HOST=http//127.0.0.1:8065
export MATTERMOST_WSS_PORT=8065
export MATTERMOST_HTTP_PORT=8065
export MATTERMOST_TLS_VERIFY=false
export MATTERMOST_USE_TLS=false
export MATTERMOST_USER=gizmo
export MATTERMOST_PASSWORD=secret
export MATTERMOST_GROUP=internal
export MATTERMOST_LOG_LEVEL=debug

cd /home/spike/myhubot
bin/hubot --adapter mat

[2016-10-14 22:19] downright770 commented on #19
still not working though

[2016-10-14 22:27] mgrodrigues commented on #19
Still a typo. You forgot the colon symbol after http

http://127.0.0.1:8065

Type that URL in your browser and ensure mattermost is up and running.
Don't forget to source the file before running hubot.

[2016-10-14 23:10] downright770 commented on #19
Thank you for all the help
I fixed my error but still getting login error.
I retested the password in my web browser and works fine.
When you did your user name did you do it as a email address at all.

[2016-10-15 07:45] mgrodrigues commented on #19
You're welcome,

I created the user using the invite link. The email address I set is not a valid one.

For MATTERMOST_USER I've setup the email address not the uername. Give it a try and post the logs.

Also, MATTERMOST_GROUP should be used to setup the team name and not a private group.

[2016-10-17 16:58] downright770 commented on #19
Still getting logging in errors.
I've changed user to an email address and verified I could log in with it.
GROUP is correct.
here's the file.

#!/bin/sh

export MATTERMOST_HOST=http://127.0.0.1:8065
export MATTERMOST_WSS_PORT=8065
export MATTERMOST_HTTP_PORT=8065
export MATTERMOST_TLS_VERIFY=false
export MATTERMOST_USE_TLS=false
export MATTERMOST_USER=downright770@hotmail.com
export MATTERMOST_PA

[2016-10-17 17:49] downright770 commented on #19
So have got first part now just need it to connect to the room.
Can't have this
export MATTERMOST_HOST=http://127.0.0.1:8065
needed to be
export MATTERMOST_HOST=127.0.0.1

This is the new error
INFO Connecting...
[Mon Oct 17 2016 10:39:52 GMT-0700 (PDT)] ERROR Failed to get subscribed channels list from server.

[2016-10-17 19:20] mgrodrigues commented on #19
You're right.
Well done. Congrats

Sorry to be insistent but i think that your MATTERMOST_GROUP variable is not set correctly.
This variable should point to your team name. Is your team named "internal" ?

somewhere in the logs you should see this kind of line

[code]

[2016-10-17 20:11] downright770 commented on #19
No it has to be set to the url. So mine I had to change to inter

[2016-10-19 08:23] loafoe commented on #15
It looks like the internals of hubot will not support this. Love to be proven wrong though.

[2016-10-19 08:23] #15 closed

[2016-10-19 08:24] loafoe commented on #6
You would need to have a modified `seen` plugin that does the reverse lookup. Mattermost has chosen to work with non-hum consumable channel IDs

[2016-10-19 08:24] #6 closed

[2016-10-19 08:25] loafoe commented on #19
@downright770 did you check the suggestion of @mgrodrigues ? The group detection should indeed show up in your logs. Please let us know, thx.

[2016-10-19 08:27] loafoe commented on #12
@vrenjith if you have the bot startup with debugging enabled do you it receiving input from Mattermost? Also, is the online status of the bot account `active` when the bot joins?

[2016-10-19 08:27] #12 closed

[2016-11-02 14:31] nickolasclarke opened #20 "@hubot mentions should work"
this would give similar functionality to what is seen with slackbot in slack. from what I've read searching around for this, the slack adapter supports this. With some guidance, I can probably tackle this as my first foray into hubot development.

[2016-11-15 23:38] loafoe commented on #16
@ThetaGamma ah great! Once I get the `3.5.0` release out I'll have a serious look at using the official Javascript driver, would definitely reduce the support surface area.

[2016-11-17 23:28] jwernicke opened #21 "Bot doesn't respond in Mattermost 3.5"
Bot seems to log in fine, but doesn't seem to recognize message posts. I'm using `hubot-matteruser` v3.5.0. I added a `console.log message` to the `onMessage` event in `mattermost-client/src/client.coffee` to see if I could figure anything out. Here's what I get when logging in and doing a `@hubot ping` on 3.4 where everything works fine:
[code]
Here's what I get when doing a `@hubot ping` on 3.5:

[2016-11-18 11:37] loafoe commented on #21
@jwernicke Make sure you update your bot to use version `3.5.0` of `hubot-matteruser` i.e. you need to modify your `package.json` to point to the latest version. Unfortunately Mattermost `3.5.0` introduced breaking API changes.

[2016-11-20 18:59] smnmtzgr opened #22 "response of the bot"
Hi,

when executing a command to which to bot reacts/responses, I always get back the "id" of the bot-user first before the actual result follows.

For example: p93qj5g13tyj9fxktzg7ekctsr

Is it possible to disable this behaviour, for example with an additional environment variable? I only want the bot to reply with the result of my request.

Regards,
Simon

[2016-11-21 21:04] jwernicke commented on #21
Turns out problem was with server configuration routing to the wrong server. Everything is working fine now. :blush:

[2016-11-21 21:04] #21 closed

[2016-11-22 07:46] loafoe commented on #22
@smnmtzgr this should not be happening. Can you share the hubot script that you are using that exhibits this behaviour? Thx!

[2016-11-22 10:43] loafoe commented on #20
Hi @nickolasclarke , can you maybe point to a description of an explanation of the feature that you are requesting? Thanks!

[2016-11-23 14:31] gajus opened #23 "ERROR TypeError: Cannot set property 'dm_channel_id' of undefined"
[code]

I have got this error after sending a private message to the bot.

[2016-11-23 14:33] gajus commented on #22
I am experiencing the same behaviour:

[code]

[2016-11-23 14:34] gajus commented on #22
All I have done is followed the instructions from https://hubot.github.com/docs/ + https://github.com/loafoe/hubot-matteruser. No custom scripts.

[2016-11-27 03:29] loafoe commented on #22
@gajus @smnmtzgr ah I see. I've been using an older version of `hubot-help` which used the **send** method instead of the **reply** method in `0.2.0`. However, this version should use Mattermost username instead of the actual user id.

- Which version of Hubot are you using? `2.19.0`?
- Which version of MatterMost server are you using? `3.5.0`?

[2016-11-27 04:26] loafoe commented on #23
@gajus the below error message probably explains this:

**ERROR Failed to load profiles from server.**

Make sure you are using Mattermost `3.5.x`. Unfortunately the adapter is only compatible with the latest version as the server API is really volatile.

Also please upgrade to version `3.5.1` of *hubot-matteruser* which I just released. It contains some fixed which might help.

[2016-11-27 04:32] loafoe commented on #11
Please upgrade to latest `3.5.1` release of both Mattermost server and hubot-matteruser. Please reopen if you still encounter issues.

[2016-11-27 04:32] #11 closed

[2016-11-27 04:34] loafoe commented on #14
@ABitMoreDepth please upgrade to latest `3.5.1` of both Mattermost server and hubot-matteruser. Reopen this ticket if you still encounter this issue. Thanks for the feedback!

[2016-11-27 04:34] #14 closed

[2016-11-27 06:35] it33 commented on #16
We've been adding more and more to the API documentation at https://api.mattermost.com/

Any questions, please just ask us at https://pre-release.mattermost.com/core/channels/developers

Thanks for building a fantastic extension! We'd love to support you as you build further!

[2016-11-27 13:25] gajus commented on #22
The latest version of both.

[2016-11-27 15:30] loafoe commented on #22
@gajus @smnmtzgr can you try to master branch of `hubot-matteruser`?

`git://github.com/loafoe/hubot-matteruser.git#master`

It contains some changes specifically for the reply behaviour.

[2016-12-02 07:10] smnmtzgr commented on #22
I will try this... stay tuned.

[2016-12-14 09:26] #23 closed

[2016-12-14 11:53] nickolasclarke commented on #20
@loafoe just as in github I can use use the following `@loafoe` to mention you (and can autcomplete your username) `@<hubot_name>` should also work as a response trigger. So instead of saying `hubot the rules` I could say `@hubot the rules`.

[2016-12-14 11:57] nickolasclarke commented on #23
I'm also seeing this. I am on `"hubot-matteruser": "^3.5.1",` perhaps it is related to:
[code]

full dump:
[code]

[2016-12-14 12:08] nickolasclarke commented on #23
turns out we are mattermost server 3.4. I thought we were on 3.5. I'm putting in a request to have the server upgraded to the latest version, and if this is still an issue, I'll let you know.

[2016-12-14 21:41] loafoe commented on #23
@nickolasclarke ok, keep us posted. thx for the feedback!

[2016-12-14 21:44] loafoe commented on #20
@nickolasclarke this should already work! Just make sure that the bot is in the channel that you are typing `@<hubot_name>` in and also that the mention is at the beginning of your message.

[2016-12-19 13:10] #20 closed

[2016-12-19 13:10] #19 closed

[2016-12-22 08:19] loafoe commented on #22
@smnmtzgr did it work?

[2017-01-03 13:18] elsifaka commented on #23
I have mattermost 3.5.1, hubot 2.19.0, mattermost-client 3.5.1 and hubot-matteruser 3.5.1 and saw the same issue.
But only when an user from a different team send a DM to the bot. everything works fine in group channels.
The bot has been invited to all teams, but robot brain only has data for the users of the group set with MATTERMOST_GROUP.

[2017-01-05 18:36] loafoe commented on #23
@elsifaka ah, interesting! Indeed the bot only loads one single group. I think we could add support for multiple groups in a future release.

@nickolasclarke do you also have multiple groups on your Mattermost server?

[2017-01-06 01:21] nickolasclarke commented on #23
@loafoe nope. Also, forgot to update this. Upgrading indeed fixed the issue.

[2017-01-06 03:28] #22 closed

[2017-01-10 06:31] smnmtzgr commented on #22
It works. Thank you very much.

[2017-01-22 00:06] vikaskedia opened #27 "mattermost 3.6.1 is incompatible with hubot-matteruser 3.5.1"
Mattermost 3.6.1 just got launched.

What do I need to do to use hubot-matteruser 3.5.1 with mattermost 3.6.1 ?

[2017-01-22 12:50] loafoe commented on #27
@vikaskedia `3.5.1` should still be compatible with mattermost `3.6.x`. I will release a `3.6.0` shortly though. Please let me know if you find any issues. As of now there are no specific changes going into the new release.

[2017-01-22 13:30] #27 closed

[2017-02-14 13:14] jasonblais opened #28 "Mattermost moving to API version 4"
Hey @loafoe!

Cross-posting my note in https://github.com/loafoe/mattermost-client/issues/31 over here too. Big thanks for sharing this project!

----

I wanted to let you know about our plans moving to API v4:

To make the Mattermost API web service easier to use and to offer more powerful options for these integrations, Mattermost will be moving to a [new API version](https://docs.google.com/doc

[2017-02-20 03:36] loafoe commented on #28
Thanks for the heads up @jasonblais . Preparing a branch to adopt v4 API.

[2017-03-02 08:58] xurizaemon opened #31 "Add ability to ignore users"
Configured via `MATTERMOST_IGNORE_USERS`.

    MATTERMOST_IGNORE_USERS=sheila,joel

PR in #30

[2017-03-03 07:20] #31 closed

[2017-03-06 10:20] cdelmas opened #32 "Cannot initiate a private message channel from the bot"
Using this code:
[code]
I expect the bot to write a private message to the user. It does work, but only if the user has already open a private message channel to the bot. The bot cannot open it on its initiative the very first time.

I get the following trace:
[code]

Reproduced on node 6.9.4, npm 3.10.10.

[2017-03-06 10:26] cdelmas opened #33 "enter and leave doesn't work"
When using enter and leave to make the bot react on these events,
[code]

I get the following error:
[code]

It looks like it is the same problem than #32

[2017-03-16 14:14] Judokus commented on #32
I guess you are using Mattermost 3.5 or 3.7?

From the readme:

[2017-03-16 14:33] Judokus commented on #32
Upon further inspection and having the same issue with 3.6... [mattermost-client](https://github.com/loafoe/mattermost-client/blob/master/src/client.coffee#L268) makes a call to `/teams/{teamId}/channels//create_direct` ...

[2017-03-16 19:34] loafoe commented on #32
@cdelmas should be fixed in `v3.7.0`, thanks to @Judokus

[2017-03-16 19:34] #32 closed

[2017-03-17 14:02] #33 closed

[2017-03-23 19:13] velinath opened #36 "Join multiple teams"
Hi,

Wondering if there is support for multiple teams in the matteruser plugin. I have multiple internal teams that it would be nice to integrate Hubot into, so if there is a way to do that without spinning up multiple Hubot instances that'd be awesome.

[2017-03-23 19:14] velinath commented on #36
Never mind, just saw #15

[2017-03-23 19:14] #36 closed

[2017-03-23 19:43] loafoe commented on #36
Yeah, sorry about that, the hubot internals are not conducive to the idea.

[2017-03-30 21:08] downright770 opened #37 "Question"
I was wondering if matteruser works with outgoing web hooks.

I'm trying to get hubot to listen on all channels with out having to invite to a channel.
The channels I'm looking to do this on are all public channels.
I've tried creating a web hook and adding it into my export cmds in shell script, but
can't seem to get anywhere.

Outgoing hook for public channels
Content-Type: application/x-www-for

[2017-03-31 02:22] loafoe commented on #37
@downright770 is the `/bot/incoming` endpoint a hubot listener endpoint? I have the following piece of code in one of my scripts that might work for you:

[code]

Now you can configure a slash command or outgoing webhook and point it to the above defined endpoint in your bot.

[2017-04-01 18:05] vrenjith opened #38 "Question - Using Behind a Proxy"
Hi,

This is not really a bug report, but a question about how to use this bot behind a proxy to reach the mattermost server.

-Renjith

[2017-04-02 11:16] #37 closed

[2017-04-06 00:22] downright770 commented on #37
Hi,

Sorry took so long to get back.
I haven't set up an scripts, and I'm sorta new to this.
I see that there is a example script. Would I have to write or copy scripts in to make certain calls.

From: "Andy Lo-A-Foe" <notifications@github.com>
To: "loafoe/hubot-matteruser" <hubot-matteruser@noreply.github.com>
Cc: "bmac86" <bmac86@shaw.ca>, "Mention" <mention@noreply.github.com>
Sent: Thursday, M

[2017-04-24 16:32] jwernicke opened #41 "Add reaction support"
Mattermost now has beta reaction support. The [API reference for reactions](https://api.mattermost.com/#tag/posts%2Fpaths%2F~1teams~1%7Bteam_id%7D~1channels~1%7Bchannel_id%7D~1posts~1%7Bpost_id%7D~1reactions~1save%2Fpost) and  [hubot-slack](https://github.com/slackapi/hubot-slack/blob/master/src/bot.coffee) might be helpful for implementing this feature.

[2017-04-26 18:30] downright770 opened #42 "Question about external scripts"
I'm able to get hubot up and running have a couple scripts that are working like youtube, etc.
but any scripts that don't need a token will not work.
I'm not sure if I'm missing something.

I have writen a shell file
that runs hubot and external scripts

export HUBOT_YOUTUBE_API_KEY="secret"
any help would be great

[2017-04-26 21:31] xurizaemon opened #43 "Multiple "brain loaded" messages"
I'm observing issues where we see some plugins get loaded repeatedly - and alongside this I see repeats of the ["Brain loaded"](https://github.com/loafoe/hubot-matteruser/blob/master/src/matteruser.coffee#L100) message from matteruser.coffee

    [Thu Apr 27 2017 09:24:51 GMT+1200 (NZST)] INFO hubot-redis-brain: Data for hubot brain retrieved from Redis
    [Thu Apr 27 2017 09:24:51 GMT+1200 (NZST

[2017-04-27 09:29] Judokus commented on #42
What errors do you get?

[2017-04-27 11:28] Judokus commented on #43
From [brain.coffee](https://github.com/github/hubot/blob/master/src/brain.coffee)
Everytime you access brain.data it emits 'brain loaded' message. Just lower your log level if you don't want to see them.

[2017-04-27 16:26] downright770 commented on #42
Don't get any errors just get no response in Mattermost when working with external scripts.
The test script works. So I'm lost does hubot need anything else to work with external scripts.

[2017-04-28 08:58] Judokus commented on #42
Post your shell script

[2017-04-28 20:01] xurizaemon commented on #43
Thanks Judokus, appreciate you taking time to reply, and the pointer to those brain events was helpful. I'll update if I work out what's doing it.

[2017-04-28 20:01] #43 closed

[2017-05-03 01:13] xurizaemon commented on #43
You beauty! It took time to percolate for me, but I finally saw it: [vspiewak/hubot-twitter-mentions](https://github.com/vspiewak/hubot-twitter-mention/blob/master/src/twitter-mention.coffee#L80) treats that "loaded" event as an "initialised" event, rather than a "data retrieved" event. Thanks again :)

[2017-05-07 16:32] downright770 commented on #42
#!/bin/sh

export MATTERMOST_HOST=127.0.0.1
export MATTERMOST_WSS_PORT=8065
export MATTERMOST_HTTP_PORT=8065
export MATTERMOST_TLS_VERIFY=false
export MATTERMOST_USE_TLS=false
export MATTERMOST_USER=
export MATTERMOST_PASSWORD=
export MATTERMOST_GROUP=
export MATTERMOST_LOG_LEVEL=debug

#FOR HUBOT TO JOIN ALL PUBLIC CHANNELS
export MATTERMOST_ENDPOINT=bot/incoming
export MATTERMOST_INCOME_URL=http

[2017-05-07 16:32] downright770 commented on #42
Pulled all the information out and tokens etc .

[2017-05-10 14:06] bkeepers opened #44 "Add `hubot-adapter` topic"
The [list of hubot adapters in the hubot documentation](https://hubot.github.com/docs/adapters/) is being replaced with a link to a [GitHub topic search](https://github.com/search?q=topic%3Ahubot-adapter&type=Repositories). Add the `hubot-adapter` [topic](https://help.github.com/articles/classifying-your-repository-with-topics/) to your repository on GitHub to include it in this list.

/cc https:/

[2017-05-11 05:04] loafoe commented on #44
@bkeepers thanks for the heads-up. done!

[2017-05-11 05:04] #44 closed

[2017-06-10 12:54] btotharye opened #46 "INFO Error: [object Object] and ERROR TypeError: Cannot set property 'dm_channel_id' of undefined"
I'm getting the below errors when I start up the bot and when I try to message it, I am using mattermost 3.9.0 with your docker-compose setup.  Any suggestions on what might be causing this?

On startup:
[code]
When direct messaging:
[code]

My package.json is configured for:

  "name": "hubot-matteruser",
  "version": "3.9.0",

Thanks

[2017-07-14 18:07] loafoe commented on #28
Switched in `v3.10.0` to API v4

[2017-07-14 18:07] #28 closed

[2017-07-14 18:25] #46 closed

[2017-07-14 18:27] #42 closed

[2017-07-14 18:27] loafoe commented on #38
@vrenjith there is no support for this, unless the proxy is completely transparent.

[2017-07-14 18:27] #38 closed

[2017-07-14 18:34] loafoe commented on #16
@ThetaGamma we've switch to v4 API. Looks like the referenced Javascript driver is still at v3? I'll definitely accept PRs that switches us to the official driver but as of now I don't foresee having bandwidth to do this myself in the near future.

[2017-07-14 18:34] #16 closed

[2017-07-14 18:45] loafoe commented on #41
@jwernicke waiting for the reactions API to become available in the Mattermost `v4` API

[2017-07-31 10:29] iUkka opened #47 "Wrong message order if your hubot machine have time difference with mattermost server."
If your hubot machine have different time with mattermost server you may recieve wrong message order between you and hubot if you use msg.reply

Similar as https://github.com/loafoe/mattermost-client/issues/39 but on module

    reply: (envelope, strings...) ->
        if @mmNoReply
          return @send(envelope, strings...)

        strings = strings.map (s) -> "@#{envelope.user.name} #{s}"

[2017-08-14 21:27] trentm opened #48 "`loggedIn` overrides bot name provided via `hubot --name NAME ...`"
This line in `loggedIn` sets `robot.name` to the auth username:
  https://github.com/loafoe/hubot-matteruser/blob/4f560900146161521a2bbfb12f2cd517b6e8e47b/src/matteruser.coffee#L93
This overrides a value set via `hubot --name NAME ...`.

Should that be a bug? It is for me, at least. At my company we use a corporate LDAP for auth to our Mattermost team. I want the bot to respond to the name "bot",

[2017-08-16 09:38] Nothingtoloose opened #49 "Show Channel Name"
Hello,
thanks for your great hubot plugin.

For many plugins you need the room name. The method "context.response.message.room" outputs only the room ID. I've seen the Mattermost API has the ability to output the room name. Could you implement the function please?

[2017-08-16 13:22] Nothingtoloose commented on #49
I solved the problem. Just create a new variable. I have added the following line in line 180:
user.room_name = msg.data.channel_display_name

The channel Name is now stored in the variable user.room_name

[2017-08-18 09:11] loafoe commented on #48
@trentm this is a breaking change, but I agree that it should not ignore the --name variable. The instructions we provide generate a script with the `--name` parameter as default so I will remove the line and will document it in the release notes of the next major release, thanks!

[2017-08-18 09:21] loafoe commented on #48
@trentm will be changed release `v4.1.0`

[2017-08-18 09:24] loafoe commented on #49
@Nothingtoloose can you create a pull request for this? I'll merge it in the next release then. Thanks!

[2017-08-18 09:28] #47 closed

[2017-08-18 10:32] #48 closed

[2017-08-18 10:33] loafoe commented on #49
Merged #51

[2017-08-18 10:33] #49 closed

[2017-08-19 05:28] loafoe opened #52 "Bot dies with message ERROR Failed to load Preferences...API response: 502"
Bot goes offline on above error. Need to add logic for retry.

[2017-10-04 13:08] #52 closed

[2017-10-04 14:53] linxcat opened #53 "hubot unresponsive in channel after upgrade"
After upgrading hubot to a more recent matteruser driver, the bot stopped replying to channel mentions, but still responds when sent a DM.

"hubot-matteruser": "4.2.0",
"mattermost-client": "4.2.0",

using 3.9.1 and 3.9.0 the bot replies as expected.

This is all taking place on mattermost 4.1.0

Using debugging I can see that Hubot receives my message and schedules a reply, but the reply never co

[2017-10-04 14:59] linxcat commented on #53
we believed it was an api v4 problem, but upgrading to v 3.10.0 does not reintroduce the problem, I am checking which patch will cause the problem.

[2017-10-04 15:00] linxcat commented on #53
confirmed first 4.0 release to cause the problem

[2017-10-05 07:39] loafoe commented on #53
@linxcat I will investigate. Have been developing against 4.1.x and 4.2.x servers for the last days. Can you send me a list of all `MATTERMOST_` config variables that are active? That will help reproduce the conditions. thx!

[2017-10-05 14:14] kuuji commented on #53
Hey @loafoe we actually discovered what it was yesterday night. It turns out that you stopped overriding hubot name by the mattermost username in this commit => https://github.com/loafoe/hubot-matteruser/commit/7964bc61d160db2f0c953f81cefe5b9340e0f37b.

And of course, we were using a different name than the mattermost username when we started hubot. It's all good now and we can close this.

Oh and

[2017-10-06 07:04] loafoe commented on #53
@kuuji @linxcat ah good to hear! Apologies for not highlighting that change in the release notes.

[2017-10-06 07:04] #53 closed

[2017-10-13 20:26] rgomez90 opened #54 "Map me Preview"
I recently installed hubot with the matteruser adapter. All works fine, but not the maps preview.

In your Readme-Example the bot response is just **one** image link.

If I ask my bot to map me sth. I get a response with **2** links, the "real" link (for which there is no preview available) and the image link (ending in "format=png").

Did you tweak your hubot for the example, so it only returns t

[2017-10-14 19:17] loafoe commented on #54
hi @rgomez90 , the adapter is just pass through for the hubot plugins, it does not try to do anything smart. You should look at the implementation of the [hubot map me plugin](https://github.com/gkoo/hubot-maps)

Update: created a pull request :)

[2017-10-14 19:17] #54 closed

[2017-10-14 19:33] rgomez90 commented on #54
Thanks @loafoe

[2017-11-06 12:20] pteichner opened #55 "Feature request: OAuth2"
Is there any way to implement OAuth2 support. I'm unable to use matteruser as our mattermost instance is daisy chained with Oauth2

[2017-11-06 16:21] loafoe commented on #55
@pteichner unfortunately OAuth2 is out of scope for the bot. However, my own company server setup in a similar way as yours, it's behind Gitlab Oauth2. So instead, you can just create a standard account with username/password using the Mattermost `platform` binary like so:

[code]

Now you can use this account to login your Hubot, bypassing the OAuth2 flow. Hope this helps!

[2017-11-11 14:35] #55 closed

[2017-11-15 11:01] SURAJTHEGREAT opened #56 "No response to channel"
Hi,

The adapter is able to add user successfully.

On issuing command from chat window - it shows the debug message as below but no feedback back to room. No matching like executing listener.

DEBUG Message {
  event: 'posted',
  data:
   { channel_display_name: 'Town Square',
     channel_name: 'town-square',
     channel_type: 'O',
     post: '{"id":"3m3fzaragffymytc8b1zfa4amc","create_at":1510

[2017-11-15 15:21] loafoe commented on #56
@SURAJTHEGREAT is the bot called `matteruser` or something else?

[2017-11-16 05:53] SURAJTHEGREAT commented on #56
@loafoe  the bot is called as matteruser
As seen in below logs on running ./bin/hubot
[Thu Nov 16 2017 00:52:35 GMT-0500 (EST)] INFO hubot-redis-brain: Using default redis on localhost:6379

matteruser>

[2017-11-16 10:47] mmack commented on #41
I think it's available right? https://api.mattermost.com/#tag/reactions

[2017-11-22 20:25] EbsrVlee opened #57 "hubot with matteruser adapter will not post to mattermost channel"
Hi,

I can run hubot on a server external to the mattermost server. Hubot answers commands and responds appropriately. However, I cannot get hubot to post on the mattermost channel.
Is there some logs I can look up or is there some advice you can give me?

I also noticed when I run ./bin/hubot --matteruser then ask hubot for the adapter it responds with shell.
I ran without the --matteruser and it

[2017-11-30 06:39] SURAJTHEGREAT opened #58 "Regarding the 'slack-attachment' event - how to pass channelID"
We are calling the 'slack-attachment' event from the other hubot module to show message in the mattermost channel. We know only the channel name but in the slackAttachmentMessage method this is expecting channel ID so is it possible to include the channel name to channel ID logic inside the  slackAttachmentMessage  method itself.

Please help on this issue

[2017-11-30 06:43] SURAJTHEGREAT commented on #56
We were able to resolve the issue.
No code fix.
We had to login to different user to execute commands and not execute from bot user login.

[2017-11-30 06:43] #56 closed

[2017-11-30 08:15] loafoe commented on #58
@SURAJTHEGREAT  please try the commit loafoe/mattermost-client@daa68fa in the driver. It contains code to convert `data.room` to a `channel_id` which should fix this for you.

[2017-11-30 08:51] SURAJTHEGREAT commented on #58
@loafoe Thank you for the quick fix. This helps to fix my issue and Its working fine for me.

[2017-11-30 08:51] #58 closed

[2017-12-01 20:31] 3ch01c commented on #57
I believe the syntax is `bin/hubot --adapter matteruser`. `shell` is the default adapter.

[2017-12-01 21:17] jwernicke commented on #57
I believe the syntax is `bin/hubot --adapter matteruser`. `shell` is the default adapter. It also looks like the default hubot web server port 8080 is in use so set the environment variable `PORT` to whatever you want to use instead for the web server. You can also delete `hubot-scripts.json` to get rid of that warning, and if you're not planning to use Heroku, you can delete the corresponding pac

[2017-12-15 01:07] shipengqi opened #59 "bot cannot ignore message from other bots in one channel"
I invite two bots into one channel in same team, the bot cannot ignore messages from other bots
Steps to reproduce:

1. invite two bots (bot1, bot2) into one channel.
2. @bot1 {message}
3. bot1 reply message
4. bot2 will receive message which reply from bot1

Expected result:
bot2 ignore messages from other bot1

[2017-12-15 14:35] loafoe commented on #59
hi @shipengqi , this is not something we can address at the adapter layer. Since your bots are separate processes there is no way they can know about each other except if you somehow encode this in e.g. q plugin that you install in both bots and cross configure them.

[2017-12-15 14:35] #59 closed

[2018-01-16 08:57] SURAJTHEGREAT opened #60 "HUBOT UNABLE TO POST MESSAGE TO MATTERMOST DYNAMIC CHANNEL UNLESS RESTART"
Hi Team,

I could observe that the messages posted to the new dynamically created mattermost channel does not reflect unless the hubot service is restarted

Steps to reproduce the issue:
1. Create a channel dynamically
2. Post message to channel from HUBOT - does not display the message in the channel
3. Post the message again after restart of Hubot - now displays message in the channel

Seems lik

[2018-01-16 12:56] Hhhly opened #61 "Hubot Failed to log to Mattermost Chat"
Hello all,

When i try to launch hubot in Mattermost I got this error :

[code]

My variable are :

[code]

Hubot and Mattermost are on the same machine and when i try to connect directly with the user it works, but when i try to connect using Hubot it don't work and i get the error above.

Can someone help me with this plz ?

[2018-01-16 13:18] Judokus commented on #61
Noticed the double colons showing up in your log (ip::port)

Try `MATTERMOST_HOST=182.21.221.170` and specify your ports with:
`MATTERMOST_HTTP_PORT` and/or `MATTERMOST_WSS_PORT`

... If it's on the same host I guess you could even do `MATTERMOST_HOST=127.0.0.1`

[2018-01-16 13:57] Hhhly commented on #61
Thanks for your response.

I tried to add the port variable and after i tried my localhost ip nothing change ...

[code]

I keep searching.
Thanks for your help.

[2018-01-16 14:05] Hhhly commented on #61
My Mattermost server is on HTTP and not on HTTPS , maybe it's that ?

How can i change the way Hubot connect to the mattermost IP ?

[2018-01-16 15:12] Hhhly commented on #61
I change some var and get the right call to HTTP but still got the error :

[code]

[2018-01-16 17:59] Judokus commented on #61
If it's on the same host `MATTERMOST_HOST=127.0.0.1` should work. TLS is enabled by default.
What do you get when you set `MATTERMOST_LOG_LEVEL=debug` ?

[2018-01-16 19:19] loafoe commented on #60
@SURAJTHEGREAT I've seen this myself. I think the internal channel is not properly updated by the `mattermost-client` part. It definitely looks like bug.

[2018-01-17 15:20] Judokus commented on #60
I can not reproduce this. @SURAJTHEGREAT Can you show your script?

[2018-01-19 15:02] Hhhly commented on #61
Ok it works now.

Thanks for your answer !

[2018-01-19 15:02] #61 closed

[2018-02-08 10:01] nneubauer opened #63 "Mattermost 4.5 does not seem to work"
Is this version not compatible with mattermost 4.5? When I startup I get the following log:

[code]

[2018-03-27 10:17] ccoenen commented on #57
I think this can be closed?

[2018-03-27 10:36] ccoenen opened #64 "May be incompatible with hubot@3?"
I was just trying to upgrade all my hubot things, and I went with `hubot@3.0.1`. This yielded errors here:

https://github.com/loafoe/hubot-matteruser/blob/fdf4cdb883eb6addccc71bb9ce24a55d942baa49/src/matteruser.coffee#L201

I commented this line out to see if it the ignored users. The error just shifted to just a few lines later:

https://github.com/loafoe/hubot-matteruser/blob/fdf4cdb883eb6addcc

[2018-03-27 12:26] EbsrVlee commented on #57
Yes, please close. I ended up using golang-bot.
Thank you.

CONFIDENTIALITY NOTICE: The information in this e-mail, and any
attachment(s), may be confidential and legally privileged. It is
intended solely for the addressee(s). If you are not the intended
recipient, any disclosure, copying, distribution or any action taken or
omitted to be taken in reliance on this e-mail, is prohibited and may be

[2018-04-18 17:26] bgualda opened #65 "Message didn't deliver"
Hi guys,
I have configured in my docker-compose.sh information to start hubot-matteruser, but when I send a message like _hubot help_ the message didn't delivery.

Below, follow my configuration.
  hubot-matteruser:
    build:
     context: ./hubot-matteruser
     args:
       hubot_owner: admin
       hubot_name: hubot
       hubot_description: GitGameBot
    restart: always
    user: hubot-matte

[2018-04-29 00:44] xurizaemon opened #66 "Err403 on websocket URLs triggering reconnections?"
We've been observing issues with Hubot getting locked out of our Mattermost server (see xurizaemon/bolts#25). What happens *seems* to be this:

- Hubot logs in as expected.
- Something triggers Hubot to reconnect (more on this below)
- Hubot starts reconnecting at intervals (even though it's connected)
- Mattermost detects the high number of authentications and locks Hubot

Mattermost Version: 4.7

[2018-05-31 04:21] the-herbivore opened #68 "docker troubles"
Hi,

I am receiving the following error when attempting to build using `docker-compose` -

[code]

with an appropriately configured `docker-compose.yml`.

This is occurring on multiple OSes/docker versions, too

Any ideas?

[2018-06-02 23:01] xurizaemon commented on #68
"Unexpected token ..." - suggest to me the JavaScript without es6 features? I don't know how likely that is, but can you add detail about the version of js running in that docker image?

[2018-06-04 14:10] matfiz commented on #68
This is the fault of old docker node image - check my PR :)

[2018-06-04 15:16] loafoe commented on #68
Thanks @matfiz , merged

[2018-06-04 15:16] #68 closed

[2018-06-04 19:23] matfiz commented on #63
Are you sure you've set `MATTERMOST_GROUP` env? In the log, you have `/users/me/teams/null/channels` (see the **null** there).

[2018-06-07 14:21] Fabianski-tr commented on #65
Have you tried running hubot directly from the same container in which you run Mattermost?

I've managed to make it work without any problems.

[2018-07-04 07:43] negativ72rus opened #70 "After the container is restarted, the reminders are deleted"
After the container is restarted, the reminders are deleted. Where does he store them?

[2018-07-04 08:39] negativ72rus commented on #70
Hi!
This. https://github.com/mx4492/hubot-remind-her
Unfortunately, the developer did not respond to my request.

[2018-07-09 10:22] loafoe commented on #70
@negativ72rus

https://github.com/mx4492/hubot-remind-her/blob/3e6e097126e06fb462121caa39c7b7bc3ffce57c/scripts/remind-her.coffee#L46

Looks like it supports `hubot.brain` so if you use below plugin then your data should be persisted to Redis and survive a restart:

https://github.com/hubotio/hubot-redis-brain

[2018-07-16 13:49] ketchalegend commented on #64
Could you solve the problem? I am having the same issue here.

[2018-07-16 16:52] ccoenen commented on #64
my solution at the time was to downgrade hubot, which I've been using ever since. Not ideal.

[2018-07-26 11:34] refasss opened #72 "Trigger Word from mattermost produce login failure to hubot matteruser"
When I send the trigger word from the channel I set in the outgoing webhook I get ERROR message Login Call Failed and Reconnecting in 5000ms. I cannot understand the problem because from the logs I see that the hubot and mattermost server communicate with each other.
![screenshot_1](https://user-images.githubusercontent.com/41570210/43260072-091eb8dc-90e1-11e8-851b-9316d604e287.jpg)

[2018-08-07 02:21] centen opened #73 "Bot not respon a request from mattermost"
hi,
i'm trying to configure the bot to make chatops
i build hubot matteruser on docker container
but i'm got some error, when call the bot to respon my order in mattermost don't show any respon
but in hubot logs, i got some error like this

![image](https://user-images.githubusercontent.com/19315902/43750479-d35fd8de-9a22-11e8-8031-cb07d3abe9b3.png)
![image](https://user-images.githubusercontent.c

[2018-08-07 07:30] loafoe commented on #73
Hi @centen , looks like something is going wrong with loading the profiles. I have not tested the bot with Mattermost 5.2.0 yet though. you might have luck with an older version of the Mattermost server. I will try to look into in the next couple of days.

[2018-08-07 08:41] loafoe commented on #64
@ketchalegend @ccoenen the next version (5.x) should be compatible with Hubot3. If you are able to test the current `master` branch that would be great!

[2018-08-08 00:08] wortzmanb opened #74 "[Question] Multiple instances of Hubot on one Mattermost server?"
Apologies for a potentially silly question, but I want to make sure this will work before I dig in too far.

Is it possible to have multiple instances of Hubot on a single Mattermost server, perhaps one per team? We have a single server at my university, but we'd like to have different bots for different teams (for example, one per course for course staff support). It _looks like_ this is possible

[2018-08-08 14:33] bmaynard commented on #73
I am also experiencing the same issue. Running Mattermost v4.10.1

[2018-08-09 09:39] ccoenen commented on #64
I'm very sorry, My bot is currently running well enough and I am somewhat swamped. I will not be able to test this in the next 3-4 weeks. This is not for a lack of interest, though. I will update to 3.x at some point.

[2018-08-10 11:30] thomasbellois commented on #73
Hello, me too.
But I haven't the issue when I don't run it in container.
Version: 4.8.0 of Mettermost

[2018-08-14 03:04] centen commented on #73
@thomasbellois if I may know,
that you don't run in a container, it mattermost or the hubot?
Thanks

[2018-08-14 08:01] thomasbellois commented on #73
@centen the goal is to run all on Docker.
Mattermost is already on.
I tested hubot with matteruser without "containerizing" it. The result was OK.
I tryed on Docker but I have the error. However, I use the same connection parameters for the bot.

[2018-08-14 18:04] mechanicjay commented on #73
Same issue here.  Mattermost 4.9, running hubot with docker-compose.

[2018-08-19 18:02] sunnythaper commented on #66
I am very much having this issue as well. Hope this screenshot of my error helps further. I get all the way into being logged and hubot recognizing chat members as typing but as soon as we hit a trigger, it goes into the reconnect loop as described by OP. This is the error it spits out just before going into the reconnect loop.

https://cl.ly/340J1S3x0k1h

[2018-08-19 18:04] sunnythaper commented on #73
Ah, I responded in another issue but I am having the same problem myself: https://cl.ly/340J1S3x0k1h

[2018-08-24 07:35] loleg commented on #73
Not working out of the box, 4.10.1. I suspect (due to `matteruser.coffee:201:36` in the exception) this is caused by an old version of the client being loaded in the Docker script.

[2018-08-25 07:46] codeart1st commented on #73
`generator-hubot` uses the latest published version of the adapter. And the latest version of `hubot-matteruser` has the .coffee script instead of the newer .js variant. So all what we need is a new release

[2018-09-02 10:35] rgomez90 opened #75 "Auth Hubot when Mail Sign-In disabled"
I recently installed Gitlab in our company. All users have to sign in via GitLab, so I disabled the mail sign-in in Mattermost.

This way when run the hubot, I get a login error. This happens because the endpoint `your-mattermost-url.com/api/v4/users/login` does not work, since it returns this response:

[code]

After research, I found [this](https://forum.mattermost.org/t/impossible-to-log-in-usi

[2018-09-02 12:32] rgomez90 commented on #73
@codeart1st is right.

Npm package, which is used by yo generator, use v 4.4.0, which has old `.coffee` file.

If you change (old) `matteruser.coffee` by (new, available here in Github repo) `matteruser.js` all works as expected in the newer Matttermost versions.

@loafoe could you please take a look on adding a new release? 😃

[2018-09-11 13:48] thomasbellois commented on #73
I tried to replace the matteruser file by doing this

[code]

 but I get this error:
[code]

[2018-09-17 20:47] lucasxteixeira opened #76 "Message attachments"
Hello,
Nice work with this adapter!
I have trying to move hubot from slack to mattermost and I have a question, how can I send message attachments (https://docs.mattermost.com/developer/message-attachments.html)?
Using hubot-slack I could just:

`
robot.respond(/my function/i, function(msg) {
  let attachments = [{
    text: "Title",
    author: "Joe"
  }];
  msg.send({attachments});
});
`

[2018-09-18 07:42] Fabianski-tr commented on #76
This is a example to send attachment:

[code]

[2018-09-19 15:49] chrispoupart commented on #75
This unfortunately is blocking us as well.

[2018-09-19 19:07] mechanicjay commented on #73
Confirmed this is working.  I updated my Dockerfile to remove the .coffee and shove a copy of the .js file in the right place.

[2018-10-05 08:06] Novitsh opened #77 "indexOf on null or undefined"
I have the feeling the bot is unable to read usernames or user ids?

[Fri Oct 05 2018 10:02:20 GMT+0200 (CEST)] INFO Connected to Mattermost.
[Fri Oct 05 2018 10:02:20 GMT+0200 (CEST)] INFO Sending challenge...
[Fri Oct 05 2018 10:02:20 GMT+0200 (CEST)] INFO Starting pinger...
[Fri Oct 05 2018 10:02:20 GMT+0200 (CEST)] INFO Mattermost server: 5.1.0.5.1.1.0dbba7b51909dd7ab49afd949f5619cd.false
[Fri

[2018-10-08 08:17] Novitsh commented on #77
Duplicate of #73

[2018-10-08 08:17] #77 closed

[2018-10-15 13:47] jk commented on #63
@matfiz Same here, I can confirm that version 5.2.1 does not work. I also see in the logs that for teams `null` is passed, although `MATTERMOST_GROUP` is set.

[code]

[2018-10-23 23:35] rgomez90 commented on #73
@loafoe what about the new release?
**This repo is not usable for now without manual changes**...
Last commit was 3 months ago, is someone supporting/taking care of this repo?

[2018-10-24 05:30] loafoe commented on #73
@centen @rgomez90 @mechanicjay @loleg @thomasbellois @bmaynard there ia new major release available which should fix the issue. As the new release is ES6 there might be some incompatibilities with some existing scripts. Please try the new release and report any issues. And apologies for the delay.

[2018-10-24 05:30] #73 closed

[2018-10-24 05:31] #74 closed

[2018-10-24 05:32] #70 closed

[2018-10-24 05:34] loafoe commented on #64
@ketchalegend @ccoenen there is a new `v5.0.0` which should be fully compatible with Hubot3, please try it and report any issues.

[2018-10-24 05:34] #64 closed

[2018-10-24 05:35] #57 closed

[2018-10-24 05:37] loafoe commented on #76
@lucasxteixeira does the example from @Fabianski-tr work for you? That is the correct way to trigger attachments indeed.

[2018-10-24 05:46] loafoe commented on #65
@bgualda please try the new v5.0.0 release and report any issues

[2018-10-24 05:46] #65 closed

[2018-10-25 18:15] CharlesErickT opened #78 "Way to monitor all channels ?"
Hello,

I was interested in knowing if there is a way to automatically add Hubot to all channels public or private. Right now we need to manually add the Hubot user to a channel for it to start monitoring the chat.

What I'm trying to achieve is when 2 users user direct message to link something, hubot can respond with an action just like a real bot would.

Is there a way to do this ?

Thanks

[2018-10-25 19:39] loafoe commented on #78
@Quack6666 you can listen to `channel_created` events. I will release an updated `mattermost-client` which will emit this event. However, you will not get these messages for direct mesage (DM) channels, only *public* channels.

[2018-10-26 10:16] loafoe commented on #63
@nneubauer  @matfiz Looks like th environment variable `MATTERMOST_GROUP` does not match up and no team match is found, which will then not allow the bot to startup. Try setting the value to `core`

[2018-10-26 10:17] loafoe commented on #41
@jwernicke @mmack it's now available in `mattermost-client` as `react()` and `unreact()` calls, but I'm not sure these are exposed on the @robot object which is passed to your scripts. Would be great if you can try it out.

[2018-10-31 05:03] loafoe commented on #75
@rgomez90 @chrispoupart version `5.1.0` now supports authorization using a [personal access token](https://docs.mattermost.com/developer/personal-access-tokens.html). Set your personal access token in `MATTERMOST_ACCESS_TOKEN`. Please give it a try. It should make hosting the bot in an SSO setup much simpler.

[2018-10-31 05:08] loafoe commented on #72
@refasss can you please try to latest version `v5.1.0`?

[2018-10-31 05:10] loafoe commented on #60
thanks @Judokus !

[2018-10-31 05:10] #60 closed

[2018-10-31 05:10] #63 closed

[2018-10-31 15:45] KrlWil opened #79 "No compatible version found: mattermost-client@^6.0.0"
after `yo hubot --adapter matteruser`

[code]
Can 6.0.0 be published or is there a workaround?

[2018-10-31 16:53] loafoe commented on #79
@KrlWil oops, thought I published this last week. It should be there now, please try now! Thanks for reporting

[2018-10-31 17:14] loafoe commented on #79
@KrlWil found a critical bug and released `v5.2.0` , which uses `v6.1.0` of mattermost-client

[2019-01-18 14:01] uhlhosting commented on #66
Having the same issue, unable yet o track it down.

[2019-01-18 14:04] uhlhosting commented on #66
[code]

[2019-04-12 02:54] reduckted commented on #41
I'm not 100% sure I'm looking in the right place, but I've created a tiny script to check if the `react()` and `unreact()` functions are available, and they don't seem to exist.

[code]
When it receives a command, it prints `undefined` to the console.

[2019-04-12 03:46] reduckted commented on #41
Ah, I think I found them. The `mattermost-client` instance is available off the adapter, so you can do this:

[code]

[2019-04-12 21:27] loafoe commented on #41
@reduckted  thanks for checking!!

[2019-05-04 16:39] tomer953 commented on #76
the ``` robot.emit 'slack.attachment', msg``` no longer works, right?
I see here you deleted it:
https://github.com/loafoe/hubot-matteruser/commit/5fa68c5b699ef1ab498fa6665728900a3b1746d0#diff-7b8bec7b5d00f602e4320c59ffaffb67L101

[2019-05-04 19:27] tomer953 opened #81 "Interactive dialogs"
https://docs.mattermost.com/developer/interactive-dialogs.html

hey, any chance to support dialogs ?
(if already possible, an example could be nice)

Thank you!

[2019-05-28 16:47] tomer953 commented on #81
I made a PR to the mattermost-client project:
https://github.com/loafoe/mattermost-client/pull/55/commits

[2019-05-28 19:44] loafoe commented on #81
Thanks @tomer953 , I created a new release with your PR and will also release a new version of the adapter shortly

[2019-05-28 19:53] loafoe commented on #81
v5.3.0 is available now

[2019-05-28 19:53] #81 closed

[2019-06-08 23:06] vicrem commented on #38
Hi,

I know that this is a +2 year thread but its always good for documentation and hopefully it helps someone else :)

This is how I managed to route traffic through socks5 and mattermost-client (which is used by matteruser).

First install mattermost-client (npm install -g mattermost-client)

Edit: node_modules/mattermost-client/src/client.js

On top add following:
const socks_server = 'socks5:/

[2019-07-24 08:30] gbonnefille opened #84 "Do not cite author in replies"
When bot reply, a citation to the original author is inserted. This citation seems to use an internal id, and seems not understood by Mattermost (no link). Furthermore, such citation seems unecessary in mattermost as replies already do the job.

https://github.com/loafoe/hubot-matteruser/blob/b604234ba0c701054f1178b76620074aaddb5f83/src/matteruser.js#L253

What is the expected feature?
Does a conf

[2019-08-21 20:26] xurizaemon commented on #66
@uhlhosting @sunnythaper are you able to confirm if you're still affected by this issue? What Mattermost / adapter versions are you running if so?

[2019-10-17 14:01] camaer commented on #78
Now that mattermost 5.15 support bot accounts and they have permissions to monitor all channels even private ones, would it be feasible to modify hubot so that he act like a real bot account and can answer in private convo without the need to add him manually ?
https://docs.mattermost.com/developer/bot-accounts.html

[2019-11-02 23:59] joemcl commented on #66
Hi @xurizaemon are we still seeing this at chat.civicrm.org ?

[2019-11-12 14:06] dakky opened #85 "whitelist of channels to join"
at the moment  it seems, as the bot joins all channels it can find and must be inviteds to new channels when they where created after the first login of the bot.

I want a more specific approch: a list of channels the bot should join

[2020-01-13 20:39] camaer opened #86 "Migrating hubot to a bot account breaks it partially"
With the new bot account from Mattermost, I converted my existing hubot user to a fully fledged bot account. Doing so partially broke it.

Writing directly to the bot in a private message works perfectly but the issue is when posting in other channels. The bot has the 'System Admin' permission but is no longer monitoring the other channel and since it's a bot account it cannot be added as member s

[2020-01-31 12:43] mlmnetcologne opened #88 "Feature Request: mattermost-client to mattermost-client-node"
Hi,

as I can see, is the https://github.com/loafoe/mattermost-client not well mantained. (https://github.com/loafoe/mattermost-client/pull/118#issuecomment-580316749)
So it would be nice when this project migrate to mattermost-client-node.

Greetings,

Maurice

[2020-04-16 09:20] #84 closed

[2020-04-17 09:31] jwernicke commented on #88
If @loafoe's response time to your merge requests doesn't meet your threshold for "well maintained", it might make more sense to maintain your own fork of this project which uses @bitExpert's fork of mattermost-client.

[2020-04-17 09:51] jwernicke commented on #41
Works per @reduckted's suggestion.

[code]

[2020-04-17 09:51] #41 closed

[2020-04-17 13:39] mlmnetcologne commented on #88
With "well maintained" I mean, that the @bitExpert's fork is more often updated and improved, with tests and so on. Yeah, it is possible to add another fork to the world, but it's not necessary. But as long as I can't use @bitExpert's fork, I have to set the project on hold. I had the last months not much time, but as I remember, there are some problems.
The response time is not my threshold for "

[2020-04-17 14:53] loafoe commented on #88
@mlmnetcologne the thing is the @bitExpert guys came here a few months as part of some Hacktoberfest initiative, offered to add tests and improve the project, I gave them contributor rights. They then proceeded to add some skeleton test framework code without ever getting to a green build. So from that point the project builds fail miserably and then they decided to fork off and are now claiming t

[2020-05-15 21:46] bbodenmiller opened #95 "Create user account as plugin"
Mattermost now allows plugins to create/be user accounts. e.g `remindbot` - https://github.com/scottleedavis/mattermost-plugin-remind Would be great if this was a plugin that could then be configured and automatically created said user account.

[2020-07-01 10:43] jk2K commented on #86
![image](https://user-images.githubusercontent.com/4025839/86235263-bb657d80-bbca-11ea-94ed-7245901e05a9.png)

you can check permissions for the account

[2020-07-01 12:32] camaer commented on #86
Both permissions are enabled already

[2020-08-17 19:43] #88 closed

[2020-09-07 11:47] gbonnefille commented on #86
In our context, after similar migration (user -> bot account) we noticed a strange behavior.

One of our action is based on **two** `reply`. The first one appears, but not the second one (only logged in console).

[2020-09-11 09:27] rickknowles-cognitant opened #96 "hubot replies result in "Invalid RootId parameter" messages and no output"
Hi,

When I use hubot to reply with "res.reply()" I've recently started getting no output and this message appearing in the mattermost logs.

{"level":"error","ts":1599811356.7178369,"caller":"mlog/log.go:190","msg":"Invalid RootId parameter.","path":"/api/v4/posts","request_id":"br7m7m48ybyhmj14d6ji5pnq8e","ip_addr":"82.5.211.17","user_id":"bub31doftbbe9fuggmdnshwywr","method":"POST","err_where":

[2020-09-11 10:02] rickknowles-cognitant commented on #96
I came across this post from a similarly described error in another project in case it helps:

https://github.com/42wim/matterbridge/issues/803

The fix was:

https://github.com/42wim/matterbridge/commit/0b03076a9dd411e567a06f231302f65d95e78c41

[2020-09-11 10:23] loafoe commented on #96
hi @rickknowles-cognitant I don't have direct access to a mattermost server at this time to replicate the issue but will try to understand the issue in the next couple of days

[2020-09-11 10:30] rickknowles-cognitant commented on #96
OK sure thanks. In the meantime I've narrowed it down to being something that was introduced between v5.3.1 and v5.4.0.

I force the install of mattermost-client-6.2.0 with hubot-matteruser 5.3.1 and the problem didnt happen, so I'm fairly confident diffing those two versions of hubot-matteruser is a good place to start

HTH

[2020-09-11 10:34] rickknowles-cognitant commented on #96
Based on the error message, I'd be almost certainly willing to be it's this:

![image](https://user-images.githubusercontent.com/37247203/92913580-cdf9ff80-f422-11ea-86de-89c497399229.png)

[2020-09-11 10:45] rickknowles-cognitant commented on #96
If anyone else needs a quick workaround, just change your package.json to this temporarily (note the lack of carets on package versions):

{
  "dependencies": {
    "hubot-matteruser": "5.3.1",
    "mattermost-client": "6.2.0"
  }
}

Confirmed it worked for me

[2020-09-11 11:08] loafoe commented on #96
@jgarec any thoughts on this?

[2020-09-11 11:39] rickknowles-cognitant commented on #96
Sorry forgot to mention the mattermost versions I tested this with were v5.22 and v5.26

[2020-09-14 19:18] jgarec commented on #96
Hi

Could you give me more details ?
Is it a direct message or on a channel ?
Could you paste a minimalist hubot script to reproduce ?

Thx

[2020-09-16 09:36] #96 closed

[2020-09-16 09:36] jgarec commented on #96
Sorry, there was a little error in my previous PR

[2020-09-16 13:11] loafoe commented on #96
thanks for fixing @jgarec

@rickknowles-cognitant version 5.4.1 should contain the fix for this

[2020-10-07 12:20] ecylmz opened #98 "Need correction on channel name"
Hi,

I saw this PR: https://github.com/loafoe/hubot-matteruser/pull/51

I need `channel_name`. `channel_display_name` doesn't give the value what i want. `channel_name` is required when making webhook requests. "Channel display name" and "Channel name" are different. They don't give the same value.

For example on DM:

Channel display name: `@user`
channel_name: `tay1jmy83brcbxq14hs6jmucsy__tptwwe

[2020-10-07 13:39] loafoe commented on #98
Please create a PR and if you can confirm it works we will definitely consider merging 👍

[2020-10-08 07:01] #98 closed

[2020-12-28 12:49] PonnyZuo opened #100 "Lost integration when sending an attachments."
Hi friends:
<pre>
I am using node.js and send a message:
here is my code:

module.exports = (robot) => {
    robot.respond(/test/i, (msg) => {
        const message = {};
        message.props = {}
        message.props.attachments = [
            {
                "pretext": "This is the attachment pretext.",
                "text": "This is the attachment text.",
                "actions": [

[2020-12-28 13:03] #100 closed

[2021-01-08 19:34] Philmod opened #101 "Messages missed"
Hi,

It seems like the bot is missing some messages, meaning it responds to some but not all of them.

Here are the logs: https://gist.github.com/Philmod/a476c778e777ec34c7270abac8fe4374
You can see that the plugin catches when I write a message, but doesn't trigger a match. Sometimes it does (you'll see the message posted back).

I am wondering if the issue is maybe the websocket connection break

[2021-01-21 01:57] PonnyZuo opened #102 "Send multiple messages with .send and messageRoom with one async function but still miss order."
I use async function and  await messageRoom.But I still can't correct my messages' order. Is there any way to solve this?
[code]

[2021-02-08 17:18] Bounga opened #103 "Question about Dockerized version and custom scripts"
Hi I'm trying Hubot Matteruser following provided instruction in the README to build a Docker container and run it.

I can't figure out how / where I should add my custom homemade scripts for Hubot to load it so users can use it by triggering keywords.

I understand that the "standalone" version simply wants the scripts to be in the `scripts/` folder relative to where Hubot is started but I can do

[2021-02-09 11:51] Bounga commented on #103
Nevermind I found out how to do it. Thanks a lot for this adapter!

[2021-02-09 11:51] #103 closed

[2021-03-12 16:34] Marthym commented on #66
Hello

I think the problem come from `mattermost-client` https://github.com/loafoe/mattermost-client/issues/134

Fixed in latest versions with https://github.com/loafoe/mattermost-client/pull/135

[2021-04-06 11:59] jgarec opened #110 "Question: why do we add this.robot.name before the message when DM"
Hi @loafoe,

i was wondering why we need to add username in this case :
https://github.com/loafoe/hubot-matteruser/blob/e62fbbed0e3f153ea8c74ce199caf9eff912c405/src/matteruser.js#L369-L371

I have a custom version on my side where i've removed this part of code. If not, it does not work with something like that :
[code]

In my case, the bot should reply only to `!bot`, not for another message like

[2021-04-06 12:55] loafoe commented on #110
hi @jgarec this might be a leftover of past behaviour of the server. Indeed it does not look like it's strictly required and the name can probably be stripped if it's there before further processing. Accepting `PR`s for improving this..  👍🏻

[2021-04-06 12:56] loafoe commented on #102
hi @PonnyZuo AFAIK the mattermost server does not guarantee order of messages if they are send in close proximity of each other

[2021-04-09 09:55] jgarec commented on #110
Hi @loafoe, could you publish a new release including #111 ?
Thx :)

[2021-04-09 17:25] loafoe commented on #110
Will create a release shortly

[2021-04-10 06:58] loafoe commented on #110
`v5.4.4` released

[2021-04-10 06:58] #110 closed

[2021-04-22 16:55] Marthym opened #113 "Add unit tests for matteruser"
It should be great to have some unit tests for matteruser

[2021-04-22 17:32] #113 closed

[2021-04-30 13:15] Marthym opened #118 "Avoid multiline format for log stack"
Currently some log was display as multilines log :

[code]

[code]
It can be difficult to parse and include in log stack (ELK for example).

It can be a good think to use the [log format capability](https://www.npmjs.com/package/log#output-message-formatting) to have one line log

[2021-04-30 13:44] #118 closed

[2021-08-03 06:38] tobiasgiese opened #144 "🐛 Error building docker image"
While building the docker image, I get the following error

[code]

Potential workaround is to install an older `yo` version

[code]

<sub>Tobias Giese <tobias.giese@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)</sub>

[2021-08-03 07:41] #144 closed

[2021-08-03 07:42] loafoe commented on #144
updated base to `node:14` which solved it

[2021-08-03 08:20] tobiasgiese commented on #144
Thanks @loafoe 👍🏻 :)

[2021-08-03 09:09] loafoe commented on #144
@tobiasgiese thx for the PR to `alpine` to reduce the massive bloat :)

[2022-01-21 09:17] codinggg opened #190 "connect mattermost not reply in channels"
Hello, I use hubot to connect mattermost. Finally, I can talk with hubot in one-by-one, I add bot to channel, but bot can't reply any message alought I send 'help' 'time' message or I @bot 'help' 'time' message. How can bot reply message in channels,  below is hubot start run log.
mattermost version:  6.3.0
hubot-matteruser 5.4.5

I don't know how solve it. Please help me. Thank you

Creating netw

[2022-06-20 09:25] ankit22550 opened #223 "unable to connect with mattermost client."
Hello Team,

I have deployed the Mattermost user with the docker step and on the docker logs, it is showing me the connection with hubot and mattermost is working.

but when I try to send the msg me mattermost channel to hubot its not working, I am not receiving any reply.

could you please help me with what step I missed on my deployment?

[Mon Jun 20 2022 08:53:09 GMT+0000 (Coordinated Universal

[2022-06-23 09:59] ankit22550 commented on #223
Hello @loafoe ,

can you please provide me some support.